.background-image {
    background: url('../images/background-grayscale.png');
}

.mais-button {
    background-color: #ff7d07 !important;
    border-color: #ff7d07 !important;
    color: white;
}
     
.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functionality-title {
    color: #000000;
    font-size: 30px !important;
}

.functionality-desc {
    color: #000000;
    font-size: 20px !important;
}

.indicator-item {
    background-color: rgb(33, 150, 243) !important;
}

.indicator-item.active {
    background-color: red !important;
}