.dataTables_filter {
    float: left !important;
}

.orange-button, .orange-button-small{
    background-color: #ff7d07 !important;
    border-color: #ff7d07 !important;
}

.orange-button:hover a, .orange-button-small:hover button  {
    background-color: #ff871c !important; 
    border-color: #ff871c !important;
}

.orange-button {
    position: absolute;
    right: 20px;
    top: 95px;
}

@media screen and (max-width: 680px) {
	.orange-button {
            visibility: hidden;
	}
}

#tableArtigos {
    width: 100% !important;
}

.abstract {
    background-color: #F5F2F0;
}
.objective {
    background-color: #F5F2F0;
}
.methodology {
    background-color: #F5F2F0;
}
.conclusion {
    background-color: #F5F2F0;
}

.article-header {
    background: #90caf9 !important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#90caf9, #bbdefb) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#90caf9, #bbdefb) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#90caf9, #bbdefb) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#90caf9, #bbdefb) !important; /* Standard syntax */
    
    margin-bottom: 5px !important;
    font-size: 16px !important;
}

.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

